@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-kanit);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-kanit), Arial, Helvetica, sans-serif;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #6eda78;
  border-radius: 5px;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #6eda78;
  border-radius: 50%;
}

.oval {
  border-radius: 50%;
  width: 200px;
  height: 100px;
  background-color: #6eda78;
}

.trapezoid {
  width: 200px;
  height: 100px;
  background-color: #6eda78;
  clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 0% 100%);
}

.rectangle {
  width: 200px;
  height: 100px;
  background-color: #6eda78;
  border-radius: 5px;
}

.parallelogram {
  width: 200px;
  height: 100px;
  background-color: #6eda78;
  transform: skewX(20deg);
  border-radius: 5px;
}

.ant-form-item-explain-error {
  @apply text-xs;
}
